<footer style="background-color:crimson">
    <div class="pull-right">
        <p>&copy; @DateTime.Now.Year - Pharmacy system</p>
    </div>
    <div class="clearfix"></div>
    <!-- jquery.inputmask -->
   

</footer>
